html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  font-family: $main-font;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

a{
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul,
li{
  list-style: none;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title{
  font-family: $main-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  color: $yellow-font-color;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    top: 20px !important;
    transform: none;
    margin-bottom: 10px;
    transition: all .4s;
}

select,
select:focus-visible {
  outline: none ;
}





// styles for slick slider 
.slick-dots {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
 }
 .slick-active button {
  border:none;
  background:transparent;
  color:transparent;
  font-size:0;
  cursor:pointer;
  position:relative;
 }
 .slick-active button::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px !important;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .slick-active button::before {
  content:"";
  position:absolute;
  background: black;
 }
 li[role=presentation] button {
  border:none;
  background-color:transparent;
  color:transparent;
  font-size:0;
  cursor:pointer;
  position:relative;
  margin-right: 10px;
 }
 li[role=presentation] button::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #3178a3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
 }

//  styles for input range 
.ui-slider-handle.ui-corner-all.ui-state-default{
  border: 1px solid #E8E8E8;
  background-color: #fff;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  cursor: pointer;
  &::before{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #A5D9FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}

.ui-slider-range.ui-corner-all.ui-widget-header{
  background: #A5D9FF;
  height: 6px;
}

.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content{
  background: #E8E8E8;
  height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  transform: translateY(-50%);
}

.ui-widget-content{
  border: none !important;
}

//styles for scrollbar
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #757575 !important;
}

.mCSB_scrollTools,
.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-3d.mCSB_scrollTools .mCSB_draggerRail,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 5px !important;
}

.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_draggerRail {
  border-radius: 8px !important;
}

.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail{
  background-color: #F4F4F4;
}

.mCSB_inside > .mCSB_container {
  margin-right: 14px;
}

.search-form__cart:nth-child(2) .mCSB_scrollTools{
  top: 40px;
}

.search-form__cart:nth-child(2) .mCS-3d-dark.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-3d.mCSB_scrollTools_vertical .mCSB_dragger{
  min-height: 40px !important;
  height: 40px !important;
}