@media (max-width: 1203px) {
    .find-request__box {
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    .find-request__box-inner {
        margin-bottom: 10px;
    }
}

@media (max-width: 1095px) {
    .find-request__box-inner {
        width: 48%;
    }
    .find-request__select,
    .find-request__box-input{
        width: 100% !important;
    }
    .find-request__box{
        justify-content: space-between;
    }
    .find-request__box:nth-child(1){
        justify-content: flex-start;
    }
    .find-request__box:nth-child(1) .find-request__select {
        width: 206px !important;
        margin-bottom: 10px;
    }
    .find-request__box-inner{
        margin-right: 0;
    }
    .find-request__box:nth-child(2) .find-request__box-inner:nth-child(5) {
        width: 100%;
    }   
}

@media (max-width: 1173px) {
    .request-form__box--right{
        margin-right: 10px;
    }
    .request-form__box--left{
        margin-left: 10px;
    }
}

@media (max-width: 1158px) {
    .detail-request__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            margin-right: 0;
        }
    }
    .detail-request__info-text span,
    .detail-request__info-text span{
        margin-right: 0;
    }
    .detail-request__info-title{
        margin-right: 0;
    }
}

@media (max-width: 1152px) {
    .search-result__detail {
        margin: 0 0 0 auto;
    }
}
@media (max-width: 1120px) {
    .footer-wrapper{
        justify-content: space-between;
    }
    .footer-logo{
        margin-right: 0;
    }
    .footer-links{
        margin-right: 0;
    }
    .footer {
        height: auto;
    }
    .search-more__result-btn {
        width: auto;
    }
    .partners-box__pic {
        max-width: 170px;
        width: 175px;
        height: 70px;
    }
    .partners-box__text,
    .partners-box__name,
    .partners-box__info{
        font-size: 13px;
    }
    .partners-box__title{
        font-size: 14px;
    }
}

@media (max-width: 1095px) {
    .find-request__box-inner {
        width: 48%;
    }
    .find-request__select,
    .find-request__box-input{
        width: 100% !important;
    }
    .find-request__box{
        justify-content: space-between;
    }
    .find-request__box:nth-child(1){
        justify-content: flex-start;
    }
    .find-request__box:nth-child(1) .find-request__select {
        width: 206px !important;
        margin-bottom: 10px;
    }
    .find-request__box-inner{
        margin-right: 0;
    }
    .find-request__box:nth-child(2) .find-request__box-inner:nth-child(5) {
        width: 100%;
    }   
    .detail-request__info-title{
        font-size: 16px;
    }
    .detail-request__info-text{
        font-size: 10px;
    }
    .detail-request__info-date, 
    .detail-request__info-status,
    .detail-request__info-payment{
        font-size: 11px;
        margin-left: 1px;
    }
    .detail-tour__name-info{
        white-space: normal;
        display: inline-flex;
    }
    .detail-tour{
        max-width: 350px;
    }
}

@media (max-width: 1014px) {
    .tour-cart__info {
        font-size: 11px;
    }
    .tour-cart__info--from::before {
        width: 16px;
        height: 17px;
        object-fit: contain;
    }
    .tour-cart__info--from {
        padding-left: 19px !important;
    }
    .tour-cart__logo {
        margin: 0 10px;
    }
    .tour-cart__info--to::before {
        width: 19px;
        height: 18px;
        background-size: contain;
    }
    .tour-cart__info--to {
        padding-left: 21px;
    }
    .tour-cart__info--people {
        margin-left: 57px;
        padding-left: 20px;
    }
    .tour-cart__info--clock::before {
        width: 19px;
        height: 18px;
        background-size: contain;
    }
    .tour-cart__date {
        font-size: 11px;
        padding-left: 23px;
    }
    .tour-cart__date::before {
        background-size: contain;
        width: 19px;
        height: 17px;
    }
    .tour-cart__date-info{
        font-size: 11px;
        margin-right: 5px;
    }
    .tour-cart__date-last {
        margin-left: 5px;
    }
    .tour-cart__params-title {
        font-size: 13px;
        padding-left: 27px;
    }
    .tour-cart__params-title::before {
        width: 26px;
        height: 19px;
    }
    .tour-cart__params-text {
        font-size: 13px;
    }
    .tour-cart__params-item span {
        margin-left: 4px;
    }
    .tour-cart__params-title:nth-child(2) {
        padding-left: 34px;
    }
    .tour-cart__name-title::before {
        content: '';
        width: 19px;
        height: 18px;
        background-size: contain;
    }
    .tour-cart__name-title {
        font-size: 13px;
        padding-left: 23px;
    }
    .tour-cart__info--clock {
        padding-left: 21px;
    }
    .tour-cart__detail,
    .tour-cart__name-discount{
        font-size: 13px;
    }
    .tour-cart__hotel{
        font-size: 14px;
    }
}
@media (max-width: 972px) {
    .search-result__inner{
        flex-direction: column;
        padding: 0;
        &:nth-child(2){
            padding: 0 30px;
            flex-direction: row;
        }
    }
    .search-result__params{
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        margin-bottom: 10px;
    }
    .search-result__params-item{
        margin-right: 15px;
    }
    .search-result__detail{
        flex-wrap: wrap;
        display: flex;
        margin: 0;
    }
    .search-result__detail-link{
        margin: 0 15px 0 0;
    }
    .detail-inner{
        flex-direction: column;
    }
    .detail-tour {
        max-width: 90%;
        order: 1;
    }
    .detail-payment{
        justify-content: flex-start;
    }
    .detail-payment__info{
        margin-left: 0;
        margin-right: 15px;
    }
    .detail-box__info,
    .detail-box__inner{
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    }
    .detail-buttons{
        flex-wrap: wrap;
        justify-content: center;
    }
    .detail-buttons__submit{
        margin-bottom: 10px;
    }
}

@media (max-width: 953px){
    .tour-cart__gallery{
        flex-direction: column;
    }
    .tour-cart__gallery--one {
        max-width: 100%;
        max-height: 400px;
        margin-right: 0;
        min-width: 241px;
        min-height: 219px;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .tour-info {
        max-width: 220px;
        padding: 30px 15px 11px 15px;
    }
    .tour-info__details{
        flex-wrap: wrap;
    }
    .tour-info__inner{
        margin-bottom: 15px;
    }
    .tour-cart__params {
        margin: 0 0px 0 auto;
    }
    .tour-info__box-title{
        text-align: center;
    }
    .tour-info__box-subtitle{
        font-size: 19px;
        text-align: center;
    }
}

@media (max-width: 920px){
    .header-bottom__btn{
        display: block;
        margin-left: auto;
        position: relative;
        z-index: 3;
    }
    .header-bottom__list{
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background: rgba(17,16,16,0.99);
        z-index: 0;
        display: block;
        padding-top: 110px;
        text-align: center;
        transform: translateY(-100%);
        overflow: auto;
        &--active {
            transform: translateY(0);
        }
    }
    .header-bottom__item {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .header-bottom__link {
        color: #8A8A8A;
        font-size: 34px !important;
    }
    .header-bottom__link--active {
        color: #C5A46D;
    }
    .header-top__logo,
    .header-top__cabinet{
        position: relative;
        z-index: 3;
    }
    input#amount{
        width: 100px;
    }
    .footer-links {
        max-width: 200px;
    }
    .search-more__result-pic {
        height: auto;
    }
    .search-more__result-btn::after{
        right: 12px;
    }
    .search-more__result-btn{
        font-size: 16px;
    }
    .search-more__result-valute{
        font-size: 10px;
    }
}

// styles for search form 
@media (max-width: 926px){
    .search-form__wrapper{
        flex-wrap: wrap;
    }
    .search-form__cart {
        width: 48%;
    }
    .search-form__cart:nth-child(2) {
        width: 100%;
        order: -1;
        margin: 0 auto 20px;
    }
    .search-form__research{
        justify-content: space-between;
    }
    // styles for text 
    .docs-cart__details-text{
        font-size: 10px;
    }
    .docs-cart__details-for::before{
        top: 7px;
    }
    .docs-cart__title{
        font-size: 16px;
    }
    .docs-cart__subtitle{
        font-size: 15px;
    }
    .docs-cart__text{
        font-size: 13px;
    }
}

@media (max-width: 880px) {
    .contacts-item{
        width: auto;
    }
    .contacts-item:nth-child(2){
        margin: 0 10px;
    }
    .contacts-item__pic {
        max-width: 220px;
    }
    .request-form__box--phone{
        width: 50%;
    }
    .request-form__box--min{
        width: 40%;
    }
}


@media (max-width: 830px){
    .search-form__box:nth-child(1),
    .search-form__box:nth-child(2){
        width: 50%;
        border-bottom: 1px solid #E8E8E8;
    }
    .search-form__box:nth-child(3),
    .search-form__box:nth-child(5){
        width: 35%;
        border-top: 1px solid #E8E8E8;
    }
    .search-form__box:nth-child(4){
        width: 30%;
        border-top: 1px solid #E8E8E8;
    }
    .search-form__inner{
        flex-wrap: wrap;
    }
    .search-more__result {
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    }
    .search-more__result-btn{
        padding: 10px 17px 10px 0;
    }
    .search-more__result-btn:hover::after {
        right: 16px;
    }
}

@media (max-width: 803px) {
    .detail-wrapper{
        flex-direction: column;
    }
    .detail-request {
        width: auto;
    }
    .detail-request__info{
        flex-wrap: wrap;
    }
}

@media (max-width: 799px) {
    .partners-box__pic {
        max-width: 120px;
        width: 120px;
        height: auto;
    }
    .partners-box__text,
    .partners-box__name,
    .partners-box__info,
    .docs-file__save-title{
        font-size: 11px;
    }
    .partners-box__title{
        font-size: 12px;
    }
    .faq-box__item-title{
        font-size: 18px;
    }
}

@media (max-width: 764px){
    .tour-wrapper{
        flex-direction: column;
    }
    .tour-info {
        max-width: 100%;
        padding: 30px 29px 11px 24px;
        width: 300px;
    }
    .tour-info__box {
        margin: 0 0 30px;
    }
}

@media (max-width: 757px){
    // styles for text 
    .docs-cart__details-text{
        font-size: 8px;
    }
    .docs-cart__details-for::before{
        top: 6px;
    }
    .docs-cart__details-text{
        margin-right: 7px;
    }
    .docs-cart__details .search-form__rate-logo {
        margin: -4px 0 0 auto;
        width: 25px;
        height: 25px;
    }
    .docs-cart{
        padding: 15px 15px 15px;
    }
    .docs-cart .docs-cart__details-from{
        padding-left: 0 !important;
    }
    .search-status__result{
        font-size: 11px;
    }
    .search-status__result-count{
        font-size: 13px;
    }
    .search-result__inner:nth-child(2){
        // flex-direction: column;
        // align-items: flex-start;
    }
    .search-result__total{
        margin-bottom: 25px;
    }
    .search-result__total-info,
    .search-result__params-item{
        font-size: 12px;
    }
    .search-result__info-title{
        font-size: 16px;
    }
    .search-result__more-price{
        font-size: 26px;
    }
    
}

@media (max-width: 714px) {
    .contacts-wrapper{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contacts-item__pic {
        max-width: 170px !important;
    }
    .contacts-item__title{
        font-size: 15px;
    }
    .contacts-item__text{
        font-size: 13px;
    }
    .contacts-item__link{
        font-size: 12px;
    }
    .contacts-item{
        margin-bottom: 25px;
    }
    .partners-box:nth-child(1){
        display: none;
    }
    .partners-box{
        display: flex;
        flex-direction: column;
    }
    .partners-box__title{
        display: block !important;
    }
    .partners-box__pic {
        max-width: 300px;
        width: auto;
        height: auto;
    }
    .partners-box__title {
        font-size: 16px;
    }
    .partners-box__text, 
    .partners-box__name, 
    .partners-box__info {
        font-size: 12px;
    }
    .faq-title{
        font-size: 26px;
    }
}



@media (max-width: 684px) {
    .footer-links {
        margin: 35px 0;
    }
    .footer-wrapper {
        flex-direction: column;
        margin-left: 50px;
    }
    .header-top__cabinet-exit span,
    .header-top__cabinet-profile span{
        display: none;
    }
    .header-top__cabinet-profile{
        margin-right: 0;
    }
    .header-top__logo-link{
        margin-right: 17px;
    }
    .header-top__logo-contact{
        font-size: 12px;
    }
    .search-more__result:nth-child(1) .search-more__result-title{
        font-size: 11px;
    }
    .search-more__result-subtitle{
        font-size: 10px;
    }
    .search-more__result-title{
        font-size: 8px;
    }
    .contacts-info__title{
        font-size: 32px;
    }
    .contacts-info {
        min-width: auto;
    }
}

@media (max-width: 620px) {
    .docs-cart{
        position: relative;
    }
    .docs-cart__details .search-form__rate-logo{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .docs-cart .docs-cart__details-for{
        margin-right: 10px !important;
    }
    .request-form__wrapper--mobile{
        flex-direction: column;
    }
    .request-form__box--left{
        margin-left: 0;
    }
    .request-form__box--right{
        margin-right: 0;
    }
}

@media (max-width: 666px){
    .search-result__top-pic {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .search-result__top{
        flex-direction: column;
    }
    .search-result__inner{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .search-more__result:nth-child(1){
        display: none;
    }
    .search-more__result-title{
        display: block !important;
    }
    .search-more__result{
        display: flex;
        flex-direction: column;
    }
    .search-more__result-btn{
        width: 150px;
    }
    .search-more__result-wrapper{
        align-self: center;
        text-align: center;
    }
    .search-more__result-title:nth-child(1){
        font-size: 14px;
    }
    .search-more__result-subtitle {
        font-size: 12px;
    }
    .search-more__result-title {
        font-size: 10px;
    }
    .search-more__result {
        padding: 20px 0 25px;
    }
    .faq-box__item-title{
        font-size: 14px;
    }
    .faq-box__item-text{
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    .tour-cart__info--people {
        margin-left: 10px;
        padding-left: 20px;
    }
    .tour-cart__wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .tour-cart__name-discount {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .tour-cart__params {
        margin: 0;
    }
    .tour-cart__params-item {
        margin-left: 0;
    }
    .tour-cart__inner {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .tour-cart__date,
    .tour-cart__logo,
    .tour-cart__info--to,
    .tour-cart__info--from,
    .tour-cart__info--clock,
    .tour-cart__info--people{
        margin-bottom: 10px;
    }
    .tour-cart__info-age{
        font-size: 12px;
    }
    .tour-cart {
        padding: 30px 19px 30px 19px;
    }
    .tour-cart__info--people {
        margin-left: 0;
    }
    .tour-cart__info--to{
        margin-right: 10px;
    }
    .detail-docs__info-text,
    .detail-docs__info-title {
        font-size: 9px;
    }
    .detail-docs__info-text::after{
        top: 4px;
    }
}


@media (max-width: 545px) {
    .search-form__box:nth-child(3){
        width: 100%;
        border-bottom: 1px solid #E8E8E8;
    }
    .search-form__box:nth-child(4),
    .search-form__box:nth-child(5){
        width: 50%;
    }
    .search-form__cart {
        width: 100%;
    }
    .search-form__cart:last-child{
        margin-bottom: 20px;
    }

    .search-form__research{
        justify-content: normal;
        flex-wrap: wrap;
    }
    .search-form__research-input{
        margin:0 0 10px 0;
        width: 100%;
        min-width: 100%;
    }
    .search-form__research-link {
        margin: 0 auto 0 0px;
    }
    .news-title{
        margin-bottom: 50px;
        font-size: 30px;
    }
    .news-box__text {
        font-size: 14px;
    }
    .news-box__title{
        font-size: 16px;
    }
    .news-box__list-item{
        font-size: 14px;
    }
    .main-info .news-wrapper {
        width: auto;
    }
    .search-tour__info {
        font-size: 16px;
    }
    .page-intro__title{
        font-size: 38px;
    }
    .search-status__order,
    .search-status__order-more{
        font-size: 11px;
    }
    .search-status__result-count {
        font-size: 11px;
        margin: 0 15px 0 5px;
    }
    .search-status__result {
        font-size: 9px;
        white-space: nowrap;
    }

    .request-form__wrapper{
        flex-direction: column;
    }
    .request-form__box {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .request-form__box--min{
        margin-right: 0 !important;
        width: 100%;
    }
    .request-form__select--custom{
        background-position: 94% 53% !important;
    }
    .request-form__box--min .request-form__select{
        max-width: 100% !important;

    }
    .request-form__box.request-form__box--phone{
        width: 100%;
    }
    .request-form__box--passport{
        margin-right: 0 !important;
        width: 100% !important; 
    }
    .request-title{
        font-size: 18px;
    }
    .request-form__subtitle{
        font-size: 12px;
    }
    .detail-box__info-title,
    .detail-box__list-info,
    .detail-box__list-date,
    .detail-box__list-title,
    .detail-box__list-text{
        font-size: 10px;
    }
    .detail-box__list-item {
        font-size: 10px;
        line-height: 12px;
    }
    .faq-title{
        font-size: 20px;
        line-height: 29px;
    }
}


@media (max-width: 425px) {
    .docs-cart__details{
        flex-wrap: wrap;
    }
    .docs-cart__details-text{
        margin-bottom: 15px;
    }
    .search-form__box:nth-child(1),
    .search-form__box:nth-child(2),
    .search-form__box:nth-child(3),
    .search-form__box:nth-child(4),
    .search-form__box:nth-child(5){
        width: 100%;
        border-bottom: 1px solid #E8E8E8;
        border-top: 1px solid #E8E8E8;
    }
    .intro-title{
        font-size: 38px;
    }
    .search-tour__info{
        font-size: 12px;
    }
    .search-result__total-info::before {
        width: 20px;
        height: 20px;
    }
    .search-result__total-info, 
    .search-result__params-item {
        font-size: 10px;
    }
    .search-result__params-item::before {
        width: 25px;
        height: 25px;
    }
    .search-result__params-item{
        padding-left: 30px;
    }
    .search-result__total-info{
        padding-left: 26px;
    }
    .search-result__top,
    .search-result__inner:nth-child(2) {
        padding: 30px 15px 0;
    }
    .search-result__top{
        margin-bottom: 0;
    }
    .page-intro__title {
        font-size: 28px;
    }
    .cart-tour .page-intro__text{
        font-size: 18px;
    }
    .tour-cart__params-text {
        font-size: 11px;
    }
}

@media (max-width: 409px) {
    .tour-cart__gallery-box{
        flex-direction: row;
    }
    .tour-cart__gallery-inner{
        flex-direction: column;
    }
    .tour-cart__gallery-pic:nth-child(2) {
        margin:0 0 20px;
    }
    .tour-cart__gallery-pic {
        margin-bottom: 20px;
    }
    .tour-cart__gallery-inner:nth-child(1){
        margin-right: 20px;
    }
    .tour-cart__gallery-pic {
        max-height: 131px;
        min-height: 132px;
    }
    .tour-cart__params-title{
        font-size: 12px;
    }
}

@media (max-width: 390px) {
    .docs-cart__title,
    .docs-cart__subtitle{
        font-size: 14px;
    }
    .docs-cart__text{
        font-size: 11px;
    }
    .docs-cart__details{
        margin-bottom: 15px;
    }
    .footer-wrapper{
        margin-left: 0;
    }
    .contacts-info__title{
        font-size: 22px;
    }
    .contacts-info__box-title{
        font-size: 14px;
    }
    .contacts-info__box-text {
        font-size: 13px;
        line-height: 22px;
        margin-left: 15px;
    }
    .contacts-info__inner{
        padding: 15px;
    }
    .partners-box__text, 
    .partners-box__name, 
    .partners-box__info {
        font-size: 11px;
    }
    .partners-box__title {
        font-size: 13px;
    }
    .request-form__box-title{
        font-size: 11px;
    }
    .find-request__box{
        flex-direction: column;
    }
    .find-request__box-inner {
        width: 100%;
    }
}
