.search-result{
    margin-bottom: 31px;
    &:last-child{
        margin-bottom: 240px;
    }
    &__wrapper{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.1);
        border-radius: 10px;
        margin-bottom: 30px;
    }
    &__top{
        display: flex;
        padding: 30px 30px 0;
        margin-bottom: 20px;
        position: relative;
    }
    &__top-pic{
        width: 100%;
        height: 254px;
        max-width: 368px;
        background-size: contain;
        margin-right: 30px;
    }
    &__info{
        width: 100%;
    }
    &__info-title{
        font-family: $main-font;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #222222;
        margin-bottom: 30px;
    }
    &__inner{
        display: flex;
        align-items: center;
        padding: 0 30px;
    }
    &__params{

    }
    &__params-item{
        font-family: $main-font;
        font-size: 18px;
        line-height: 25px;
        color: #222222 !important;
        padding-left: 44px;
        margin-bottom: 20px;
        position: relative;
        color: transparent;
        &::before{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 34px;
            height: 25px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(1)::before{
            background-image: url('../img/search-tour/svg/item-1.svg');
        }
        &:nth-child(2)::before{
            background-image: url('../img/search-tour/svg/item-2.svg');
        }
        &:nth-child(3)::before{
            background-image: url('../img/search-tour/svg/item-3.svg');
        }
        &:nth-child(4)::before{
            background-image: url('../img/search-tour/svg/percent.svg');
        }
    }
    &__detail{
        margin: 0 120px 0 auto;
        align-self: flex-start;
    }
    &__detail-link{
        margin-left: 15px;
        padding-bottom: 26px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 100%;
            width: 16px;
            height: 16px;
            background-color: #F22C2C;
        }
    }
    &__detail--active::after{
        background-color: #F2F700;
    }
    &__detail--greenActive::after{
        background-color: #21EF00;
    }
    &__total{
        margin-bottom: 30px;
    }
    &__total-info{
        font-family: $main-font;
        font-size: 18px;
        line-height: 25px;
        color: #222222;   
        margin-right: 20px;
        padding-left: 35px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: contain;
        }     
        &:nth-child(1)::before{
            background-image: url('../img/svg/calendar.svg');
        }
        &:nth-child(2)::before{
            background-image: url('../img/svg/clock.svg');
        }
        &:nth-child(3)::before{
            background-image: url('../img/svg/palm.svg');
        }
    }
    &__more{
        margin-left: auto;
        margin-bottom: 30px;
    }
    &__more-price{
        font-family: $main-font;
        font-weight: 600;
        font-size: 36px;
        color: #222222;
        margin-right: 10px;
    }
    &__more-valute{
        font-family: $main-font;
        font-size: 14px;
        line-height: 19px;
        color: #757575;       
        margin-right: 20px; 
    }
    &__more-btn{
        border-radius: 100%;
        border: 3px solid #C5A46D;
        box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.1);
        padding: 15px;
    }
    &__more-pic{

    }
    &__more--disabled{
        transform: rotate(180deg) translateY(-2px);
    }
    &__discount{
        position: absolute;
        top: 30px;
        right: 30px;
    }
}

.search-status{
    &__result{
        font-family: $main-font;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        color: #757575;        
        display: flex;
        align-items: center;
    }
    &__result-count{
        font-family: $main-font;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        text-transform: uppercase;
        color: #222222;
        margin: 0 30px 0 10px;
    }
    &__order{
        font-family: $main-font;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #757575;
        text-align: right;
    }
    &__order-more{
        font-family: $main-font;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #C5A46D;
    }
}

.search-more{
    &__result{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
        grid-gap: 15px 15px;
        padding: 10px 0;
        margin: 0 30px;
        align-items: center;
        border-top: 1px solid #E8E8E8;
        &:last-child{
            border-bottom: 1px solid #E8E8E8;
            margin-bottom: 15px;
        }
    }
    &__result-title{
        font-family: $main-font;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: #757575;
        margin: 10px 0;
    }
    &__result-pic{
        height: 83px;
        width: 100%;
        max-width: 208px;
    }
    &__result-wrapper{
        align-self: flex-start;
        margin-bottom: 7px;
    }
    &__result-subtitle{
        font-family: $main-font;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: #434343;
        margin-top: 10px;
    }
    &__result-btn{
        display: block;
        width: 240px;
        font-family: $main-font;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
        color: #434343;
        background: #FFFFFF;
        border: 2px solid #C5A46D;
        padding: 10px 52px 10px 0;
        text-align: center;
        position: relative;
        &::after{
            content: '';
            background-image: url('../img/svg/arrow-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 18px;
            height: 25px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover::after{
            right: 30px;
            fill: #fff;
            stroke: #fff;
            transition: all .4s;
        }
        // &:hover{ доделать
        //     background-color: #C5A46D;
        //     color: #fff !important;
        //     transition: all .4s;
        // }
    }
    &__result-valute{
        font-family: $main-font;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: #757575;
        margin-left: 5px;
    }
    &__upload{
        display: block;
        font-family: $main-font;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        color: #C5A46D;  
        padding-bottom: 34px;
        width: 40px;
        margin: 0 auto;
        position: relative;  
        &::after{
            content: '';
            background-image: url('../img/svg/arrow-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(90deg);
            position: absolute;
            bottom: 0;
            width: 30px;
            height: 34px;
            right: 5px;
        }    
        &:hover::after{
            transform: rotate(90deg) translateX(8px);
            transition: all .4s;
        }
    }
    &__close{
        display: block;
        background: #F5F5F5;
        height: 56px;
        margin-top: 20px;
        position: relative;
        &::before{
            content: '';
            background-image: url('../img/svg/arrow-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(-90deg) translate(-50%, -50%);
            position: absolute;
            bottom: 50%;
            left: 50%;
            width: 31px;
            height: 29px;
            background-position: center;
            left: 50%;
        }
    }
}

.main-search__result .search-status {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &::before,
    &::after{
        position: relative;
        width: 0;
        height: 0;
        background-color: transparent;
    }
}
.main-search__result .search{
    margin-bottom: 140px;
}

.main-search__result .search-form__rate {
    margin-bottom: 10px;
}

.main-search__result .search-result .search-form__rate-logo{
    &:hover{
        fill: #F2C94C !important;
    }
    path{
        stroke: #F2C94C;
    }
}
.main-search__result .search-result .search-form__rate--active{
    fill: #F2C94C !important;
}

