// color 
$dark-bg-color: #000;
$black-color: #222222;
$yellow-font-color: #C5A46D;
$grey-font-color: #757575; 
$yellow-bg-color: #C5A46D;
$light-grey-color: #BBBBBB;
$light-blue-bg-color: #F4F6F9;
$blue-bg-color: #A5D9FF;
// fonts 
$main-font: 'Open Sans', sans-serif;
